#!/bin/bash

# Common settings coming from Ansible
# Most are used by restic as ENV variables to know how to mount restic archives

export RESTIC_REPOSITORY="{{ centos_backup_server_restic_repo }}"
export RESTIC_PASSWORD="{{ centos_backup_server_restic_pass }}"

echo " == Mounting ${RESTIC_REPOSITORY} under /var/lib/restic/mount with fuse ...."
echo " == When finished, CTRL-C to umount fusemount point"

restic mount /var/lib/restic/mount
